*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    width: 100%;
    box-sizing: border-box;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 00px 4px 7px 0px #81818140;
}
.menu__ul{
    display: flex;
    padding-left: 40px;
}
.menu__li{
    display: flex;  
    list-style: none;
}
.menu__link{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.5px;
    letter-spacing: -0.015em;
}
.menu__link:hover{
    color:#05A88D;
}
.menu__logo{
    color: #05a88d;
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}
.menu__signup{
    display: flex;
    color: #05A88D;
    text-decoration: none;
    border-color: #05A88D;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    padding: 13px 22px;
    font-size: 16px;
    font-weight: 300;
    margin-left:409.87px;
}
.menu__login{
    display: flex;
    color: #05A88D;
    text-decoration: none;
    margin: 0 70px;
}
